#whole_projects {
    background-color: #3c413b;
    border-top: 10px rgb(238, 217, 217) solid;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#ex_title {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #939d92;
    padding: 10px;
}