#top_img {
    width: 60%;
    border: 10px white solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 20px;
    margin-bottom: 20px;
}

#info {
    background-color: #d8e4d7;
    text-align: center;
    margin: 150px;
    border-top: 2px silver solid;
    border-bottom: 2px silver solid;
}

#text_callout_1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin: 50px;
}

#text_callout_2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 50px;
    margin-top: 110px;
}

.card {
    margin: auto;
    display: block;
}

#about_text {
    margin: auto;
    display: block;
}

#whole_about {

}



#top_about {
    text-align: left;
    padding: 30px;
    background-color: #afb9ae;
}

#about_title {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

#bottom_about {
    margin-top: 40px;
    text-align: left;
}

